@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

.w-1250 {
    width: 1250px;
    margin: 0 auto;
}

header {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 86px;
    background-color: #EFF0F3;
}

header p {
    margin: 20px 250px 0 0;
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
}

header p span {
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

header ul {
    display: flex;
    gap: 50px;
    margin-top: 32px;
}

header ul li h2 a {
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

header button {
    display: flex;
    margin: 20px 0 0 50px;
    width: 213px;
    height: 44px;
    border-radius: 4px;
    background-color: #6246EA;
    padding: 10px 17px;
    gap: 10px;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    justify-content: center;
    align-items: flex-start;
}

.about-me {
    display: flex;
    justify-content: space-between;
}

.about-me h1 {
    color: #2B2C34;
    width: 617px;
    margin: 200px 181px 33px 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
}

.about-me p {
    width: 652px;
    color: #9A9494;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.text {
    display: flex;
    align-items: center;
}

.text::before {
    content: "";
    width: 3px;
    height: 56px;
    background-color: #2B2C34;
    margin-right: 12px;
}

.email-form {
    margin: 33px 0 351px 0;
}

#email {
    width: 444px;
    height: 67px;
    border-radius: 8px;
    text-indent: 25px;
    background-color: #FFFFFE;
    color: #C0C0C0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.email-form button {
    height: 67px;
    margin-left: 20px;
    padding: 20px 23px 19px 23px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.img-lern-coding {
    margin-top: 206px;
}

.navigation-button {
    display: flex;
    justify-content: space-between;
}

.navigation-button p {
    color: #2B2C34;
    margin: 148px 0 33px 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.navigation-button button {
    display: flex;
    gap: 12px;
    margin: 152px 0 36px 0;
    color: #2B2C34;
    background-color: #fff;
    text-align: right;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.navigation-button button svg {
    display: flex;
    margin-top: 7px;
}

.card-list {
    display: flex;
    gap: 37px;
}

.technology-card {
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background-color: #FFFFFE;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 8px;
    margin: 65px 130px 30px 30px;
}

.technology-card p {
    margin-left: 30px;
}

.technology-card:hover {
    background-color: #6246EA;
    color: #FFFFFE;
    border-radius: 8px;
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
}

.article-card-shell {
    display: flex;
    gap: 16px;
}

.card {
    display: flex;
    padding: 20px;
    width: 300px;
    height: 425px;
    border-radius: 12px;
    background-color: #FFFFFE;
    flex-direction: column;
    align-items: baseline;
}

.card:hover {
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.card h3 {
    height: 75px;
    color: #2B2C34;
    margin: 25px 0 30px 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.contact-info {
    display: flex;
}

.contact-info-text {
    margin: 10px 0 0 15px;
}

.contact-info-text h4 {
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.contact-info-text p {
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.more-articles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.more-articles-button {
    padding: 20px 23px 19px 23px;
    border-radius: 8px;
    background-color: #6246EA;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.mailbox {
    display: flex;
    justify-content: center;
    margin-top: 161px;
}

.subscribe-newsletter h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

.subscribe-newsletter p {
    color: #C0C0C0;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.email-form-newsletter {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-form-newsletter button {
    height: 67px;
    margin-left: 20px;
    padding: 20px 23px 19px 23px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

#email-newletter {
    width: 444px;
    height: 67px;
    border-radius: 8px;
    text-indent: 25px;
    background-color: #FFFFFE;
    color: #C0C0C0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

footer {
    margin-top: 118px;
}

.footer-list {
    display: flex;
}

.logo {
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.logo span {
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

footer p {
    width: 284px;
    margin: 20px 160px 20px 0;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.social-media ul {
    margin-top: 26px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-navigation h3 {
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-navigation ul {
    display: flex;
    gap: 95px;
    padding: 0;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.footer-navigation ul li {
    margin-top: 20px;
}

.footer-navigation ul li ol {
    padding: 0;
}

.copyright {
    margin-top: 50px;
}

.copyright hr {
    width: 100%;
    height: 1px;
    background-color: #C0C0C0;
}

.copyright p {
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}